@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900);

@import "./new_design/assets/css/bootstrap.min.css";

@import "./new_design/assets/css/plugin.css";

@import "./new_design/assets/css/style.css";

@import "./new_design/assets/css/responsive.css";

@import "./css/messageStyle.css";



.cursor-pointer {
    cursor: pointer;
}

.search-user-result{
    min-height: 200px;

}


div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
  }