@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900);

@import "./new_design/assets/css/bootstrap.min.css";

@import "./new_design/assets/css/plugin.css";

@import "./new_design/assets/css/style.css";

@import "./new_design/assets/css/responsive.css";

@import "./css/messageStyle.css";


@import "./bootstrap-icons/bootstrap-icons.css";



.cursor-pointer {
    cursor: pointer;
}

.search-user-result{
    min-height: 200px;

}


div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
  }


.w-80 {
    width: 80%;
}

.border-danger {
    border: 1px solid #dc3545 !important;
}

.seconary-bg-color {
    background-color: #0e1652;
}

.chat-list {
    border-bottom: 1px solid #dc354686;
}

.chat-list.active {
    background-color: rgba(255,255,255, 0.1);
    border-bottom: 0px solid #dc354686;
}

.min-vh-70 {
    min-height: 70vh;
}


.leftSideMenu {
    margin-bottom: 20px;
  }
  
  .leftSideMenu span {
    margin-left: 10px;
    font-size: 1.3em;
  }
  
  .leftSideMenu .bi {
    width: 50px;
    height: 50px;
  }
  
  .leftSideMenu.active span{
    color: #e74d3c;
  }
  
  
  
  .leftSideMenu.active .bi {
    background-color: #e74d3c;
    color: #ffffff;
  }


  .sside .bi{
    font-size: 0.7em;
    color: #7c9cb9;
  }
  
  .sside {
    margin-left: 45px;
    margin-top: -10px;
  }
  
  .acc.active {
    color: #437099;
  }
  
  .acc {
    color: #6D757D;
  }
  

.header-menu .bi{
  width: 30px;
  height: 30px;
  color: #7c9cb9;
  display:flex;
  align-items: center;
  justify-content: center;   
}

.sidebar .kk {
  font-size: 1.2em;
}

.race-details {
  border-radius: 20px;
}

.race button{
  border-radius: 20px;
}